.App {
  text-align: center;
}

.Modal{
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(255, 196, 118);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ContainerPokemons, .ContainerDetail{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 700px;
  min-height: 90vh ;
  padding: 20px;
  border: 5px solid tomato;
  position: absolute;
  top:0;
  left: 10px;
  /* transform: translateX(-50%); */
}

.ContainerPokedex{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 620px;
  border: 5px solid green;
  padding: 20px;
  min-height: 90vh ;
  position: absolute;
  top:0;
  right: 10px;
}

.BoxCard{
  width: 200px;
  height: fit-content;
  border: 2px dotted blue;
}

.BoxCard img{
  height: 150px;
}

.Main{
  display: flex;
}